/*
    red: #E73F3F
    orange: #F76C27
    yellow: #E7E737
    blue: #6D9DD1
    purple: #7E45D3
*/

*
{
    /* Ensures padding do not 'extend' the box beyond the set width and height
        ie. internal padding*/
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.clearfix {
    /* Fix for floating elements going past the height of the div */
  overflow: auto;
  zoom: 1;
}


@font-face
{
    /* Load custom font */
    font-family: 'Source Sans Pro';

    src: url(../fonts/SourceSansPro-Light.otf) format('OpenType');
}

body
{
    font-family: Source Sans Pro;

    background-image: url(../images/pattern.png);
}

img
{
    max-width: 100%;
    max-height: 100%;
}


.circularProfile
{
    //position: absolute;
    //left: 0px;
    //top: 0px;
    float: left;

    max-width: 50%;
    max-height: 50%;
    margin: 10px 10px;

    -webkit-border-radius: 100%;/* Or half width or height */
       -moz-border-radius: 100%;
            border-radius: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
       -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
            box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}


#core
{
    position: relative;

    max-width: 80%;
    height: auto;
    margin: 10% auto;
    padding: 20px;

    text-align: center;

    color: white;
    border: 0;
    background-color: rgba(0,0,0,.7);
}

#bio
{
    position: static;

    padding: 30px;

    margin-left: 50%;
}

nav ul
{
    float: left;

    padding: 0;

    list-style: none;
}

nav ul li a
{
    text-decoration: none;
}

nav ul li a:hover
{
    text-decoration: none;
}
